*{
    margin: 0;
    padding: 0;
}

header{
    background-color: brown;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    border-top: 5px solid black;

}
.logo{
    flex-basis: 35%;
    background-color:red ;
    font-size: 20px;
    line-height: 50px;
}
.menu{
    background-color: green;
    flex-basis: 65%;
    line-height: 50px;
}
ul{
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    text-transform: capitalize;
}
a{
    color: aliceblue;
    text-decoration: none;
   
}
.section-one{
    background-color: yellow;
    
    height: 100vh;
    display: flex;
    
}
.pra{
margin-top: 50px;
padding: 150px;
}
.pra h1{
    font-size: 45px;
    font-family:sans-serif ;
}
.pra h2{
    font-size: 40px;
    color: deeppink;
    font-family:sans-serif ;
}
.pra p{
    font-size: 18px;
}
button{
    background-color: rgb(194, 49, 144);
    font-size: 15px;
    color: aliceblue;
    padding: 12px;
    border-radius: 25px;
}
.section-two{
    background-color:slateblue;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    flex-basis: 100%;

 

    
}

.left{
    display: flex;
    height: 400px;
    width: 350px;
    background-color: brown;
    margin-top: 50px;
    margin-bottom: 50px;
}
.left:hover{
    transform: scale(0.9);
}
.middle{
    display: flex;
    height: 400px;
    width: 350px;
    background-color: magenta;
    margin-top: 50px;
    margin-bottom: 50px;
}
.middle:hover{
    transform: scale(0.9);
}

.right{
    display: flex;
    height: 400px;
    width: 350px;
    background-color: brown;
    margin-top: 50px;
    margin-bottom: 50px;
}
.right:hover{
    transform: scale(0.9);
}
.section-three{
    background-color: coral;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-basis: 100%;
  
}
.name h1{
   padding-left: 700px;
   margin-top: 40px;
   font-size: 40px;
   font-family:sans-serif ;
}
.section-four{
    background-color: teal;
 
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    
    flex-direction: row;
    flex-basis: 100%;
  

}

 .one{
    display: flex;
    height: 400px;
    width: 350px;
    background-color: brown;
    margin-top: 50px;
    margin-bottom: 50px;
}
.one:hover{
    transform: scale(0.9);
}
.two{
    display: flex;
    height: 400px;
    width: 350px;
    background-color: magenta;
    margin-top: 50px;
    margin-bottom: 50px;
}
.two:hover{
    transform: scale(0.9);
}

.three{
    display: flex;
    height: 400px;
    width: 350px;
    background-color: brown;
    margin-top: 50px;
    margin-bottom: 50px;
}
.three:hover{
    transform: scale(0.9);
}
.section-five{
    background-color: coral;
    height: 70vh;
    display: flex;
}
.sneha h1{
    padding-left: 700px;
    margin-top: 40px;
    font-size: 40px;
    font-family:sans-serif ;
 }



 @media all and (max-width:768px){


   
    .header{
        flex-basis: 100%;
        flex-direction:column;
        background-color: bisque;
    }


     .logo {
        flex-direction: column;
        align-items: center;
        flex-basis: 100%;
        order: 1;
        text-align: center;
    }

    .menu {flex-basis: 100%;
    order: 2;}

    
    .menu>ul{flex-direction: column;
        align-items: center;
        }

   
    .section-one{
            flex-basis: 100%;
       
           
                order: 3;
                
        }


        .pra{margin-left: -40px;}
    
    .section-two{
        flex-basis: 100%;
        display: flex;
        flex-direction:;
    }

    .section-four{
        flex-basis: 100%;
        
    }
    }


  


